.after-submit {
    visibility: hidden;
}

.centered {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.display-toggle-button {
    display: contents;
}

.navigation {
    width: 150px;
    margin-top: 5rem;
}

#count {
    float: right;
    margin-left: 2rem;
}

#display-toggle {
    float: right;
    margin-top: 0.5rem;
}

/* hide email2 input for anti-bot protection */
#ms_contact_us_email2,
label[for="ms_contact_us_email2"] {
    display: none !important;
}

#no-record {
    text-align: center;
    margin-top: 3rem;
}

#record-count-label {
    font-weight: bold;
}

#record-table {
    max-width: 500px;
    margin-top: 3rem;
}

#top-menu {
    width: 50%;
    height: 50px;
    border-bottom: 1px solid grey;
}

#top-menu-title {
    float: left;
    font-size: 1.5rem;
    margin: 0.5rem;
    margin-top: 0.2rem;
}

#top-menu ul {
    float: left;
    padding-left: 0.1rem;
}
