{% extends 'base.html.twig' %}

{% block body %}
    <div id="top-menu" class="centered">
        <h1 id="top-menu-title">Contact Records</h1>
        <div id="display-toggle">
          {{ knp_menu_render('AppBundle:Builder:topMenu', {'currentAsLink' : false}) }}
          <div id="count">
              <span id="record-count-label">Total Records: </span>{{ pagination.getTotalItemCount }}
          </div>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <table id="record-table" class="table table-bordered table-striped centered">
              {% for record in pagination %}
                  <tr>
                      <th>Date</th>
                      <td>{{ record.dateCreated|date('m/d/Y h:i:s a') }}</td>
                  </tr>
                  <tr>
                      <th>Reason</th>
                      <td>{{ record.reason }}</td>
                  </tr>
                  <tr>
                      <th>Name</th>
                      <td>{{ record.name }}</td>
                  </tr>
                  <tr>
                      <th>Email</th>
                      <td>{{ record.email }}</td>
                  </tr>
                  <tr>
                      <th>Phone</th>
                      <td>{{ record.phone }}</td>
                  </tr>
                  <tr>
                      <th>Message</th>
                      <td>{{ record.message }}</td>
                  </tr>
              {% endfor %}
          </table>
          <div class="navigation centered">
              {{ knp_pagination_render(pagination) }}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
