{% extends 'base.html.twig' %}

{% block body %}
  <div id="top-menu" class="centered">
      <h1 id="top-menu-title">Contact Records</h1>
      <div id="display-toggle">
        {{ knp_menu_render('AppBundle:Builder:topMenu', {'currentAsLink' : false}) }}
      </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        {% if record %}
          <table id="record-table" class="table table-bordered table-striped centered">
              <tr>
                  <th scope="row">Date</th>
                  <td>{{ record.dateCreated|date('m/d/Y h:i:s a') }}</td>
              </tr>
              <tr>
                  <th scope="row">Reason</th>
                  <td>{{ record.reason }}</td>
              </tr>
              <tr>
                  <th scope="row">Name</th>
                  <td>{{ record.name }}</td>
              </tr>
              <tr>
                  <th scope="row">Email</th>
                  <td>{{ record.email }}</td>
              </tr>
              <tr>
                  <th scope="row">Phone</th>
                  <td>{{ record.phone }}</td>
              </tr>
              <tr>
                  <th scope="row">Message</th>
                  <td>{{ record.message }}</td>
              </tr>
          </table>
        {% else %}
          <div id="no-record">
              <h6 style="text-align: center">No record found with UUID: <span style="font-weight: bold">{{ uuid }}</span></h6>
              <a href="{{ path('records') }}">
                <button class="btn btn-primary ok-btn" value="ok">OK</button>
              </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
